.boardHeader {
	padding: 5px;
	box-sizing: border-box;
	position: relative;
	background-color: thistle;
}

.addList {
	position: absolute;
	right: 5px;
}

.boardBody {
	display: flex;
	flex-direction: row;
	/*height: 95vh;*/
	width: 100%;
	background-color: aquamarine;
	box-sizing: border-box;
	justify-content: flex-start;
}

.list {
	display: flex;
	flex-direction: column;
	height: 95%;
	width: 275px;
	background-color: beige;
	box-sizing: border-box;
	margin: 10px;
	justify-content: flex-start;
}

.listHeader {
	padding: 15px;
	height: 50px;
	box-sizing: border-box;
}

.listFooter {
	padding: 5px;
	box-sizing: border-box;
}

.listBody {
	min-height: 25px;
	box-sizing: border-box;
}

.task {
	min-height: 100px;
	background-color: cyan;
	box-sizing: border-box;
	padding: 10px;
	margin: 5px;
	position: relative;
	justify-content: flex-start;
}

.taskTitle {
	font-weight: bold;
}

.taskEdit {
	display: none;
}

.taskEditInput {
	background-color: cyan;
	border: none;
	outline: none;
}

.listEdit {
	display: none;
}

.listEditInput {
	background-color: beige;
	border: none;
	outline: none;
}

.dateSpan {
	display: inline-block;
	width: 50px;
}

.dates {
	display: flex;
	flex-direction: column;
	position: relative;
	margin-top: 40px;
	bottom: 5px;
}

.dateRow {
	display: flex;
	flex-direction: row;
}

.dateGreyed {
	background-color: lightgray;
}

.addButton {
	width: 100%;
}
